@font-face {
    font-family: UTSfont;
    src: url(PlusJakartaSans-Medium.TTF);
}

.header {
    background-color: rgb(64, 68, 74, .87);
}

body {
   
    background-size: cover;
    background-color: #252525;
    color: #FFFFFF;
    font-family: "UTSfont";
    text-align: center;
}

div {
    font-family: "UTSfont";
}