@font-face {
    font-family: UTSfont;
    src: url(PlusJakartaSans-Medium.TTF);
  }
  body {
   
    background-size: cover;
    background-color: #40444A;
    color: #FFFFFF;
    font-family: "UTSfont";
    text-align: center;
}