body {
    margin: 0;
    padding: 0;
    background-color: rgba(30, 30, 30, 1);
    color: white;
    font-family: UTSfont, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.sign-up-container {
    /* display: flex; */
    background: rgba(39, 41, 43, 1);
    border-radius: 48px;
    box-shadow: 0px 8px 16.1px 3px rgba(0, 0, 0, 0.18);

    padding: 30px;
    max-width: 1500px;
    width: 50%;
    margin-top: 50px;
    
    box-sizing: border-box;
    justify-content: center;
    overflow: hidden;

    background: 
        radial-gradient(circle at right center, rgba(28, 28, 28, 1), transparent 100%),
        rgba(39, 41, 43, 1);
}

.sign-up-container,
.edit-container {
    /* display: flex; */
    background: rgba(39, 41, 43, 1);
    border-radius: 48px;
    box-shadow: 0px 8px 16.1px 3px rgba(0, 0, 0, 0.18);

    padding: 30px;
    min-width: 1080px;
    max-width: 1500px;
    width: 50%;
    margin-top: 50px;
    
    box-sizing: border-box;
    justify-content: center;
    overflow: hidden;

    background: 
        radial-gradient(circle at right center, rgba(28, 28, 28, 1), transparent 100%),
        rgba(39, 41, 43, 1);
}

.edit-container {
    margin-top: 105px;
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

label {
    font-size: 25px;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    gap: 0.5rem;
}

/*div {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}*/

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(39, 41, 43, 1);
    border: rgb(255, 255, 255, 0.1) 1px solid;
    border-radius: 5px;
    padding: 10px;
    margin-top: 0.5rem;

    i {
        padding: 5px;
        margin-right: 1rem;
        margin-left: 0.86rem;
        user-select: none;
    }
}

input[type="text"], input[type="tel"], input[type="password"] {
    width: 100%;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 15px;
    background: none;
    color: white;
    align-content: center;
    /* border-bottom: 2px solid #D9D9D9; */

}

#visibility_toggle {
    color: black;
    transition: 0.2s;

}

#visibility_toggle:hover {
    cursor: pointer;
    color: white;
    transition: 0.2s;
}

#visibility_toggle.clicked {
    color: white;
    opacity: 1;
    transition: 0.2s;
}



/* CHECKBOX */
.checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    margin-top: 3px;
    gap: 5px;
    
}

.checkbox-container input[type="checkbox"] {
    vertical-align: middle; 
    transform: scale(1.5);
}

.checkbox-container label {
    position: relative;
    top: 3px;
    vertical-align: middle;
    line-height: 3;
    font-size: 12px;
    color: white;
}

/* SUBMIT */
.submit-container {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 0px;
}

input[type="submit"] {
    padding: 1rem 3rem;
    background: #4AB3FF;
    border-radius: 18px;
    color: white;
    font-size: 28px;
    font-weight: 800;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    text-align: center;
    margin-top: 1rem;
    font-family: UTSfont, sans-serif;
}

input[type="submit"]:hover {
    background: rgba(74, 179, 255, 1);
}

/* ERROR */
.error {
    font-size: 12px;
    color: red;
    min-height: 16px;
    display: block;
    margin-top: 8px;
}

#editProfileHeader {
    font-size: 35px;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}
.visible {
    display: block;
}

#successMessage {
    /*display: none;  Initially hidden */
    position: absolute;
    top: 45%; /* Adjust this value to move it higher or lower */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* Adjust the color as needed */
    /*font-family: 'Plus Jakarta Sans', Arial, sans-serif;  Use your font */
    font-size: 1.5rem; /* Adjust the font size */
    /* background-color: rgba(0, 0, 0, 0.8); Optional: Add a background for contrast */
    padding: 20px; /* Add padding around the message */
    border-radius: 10px; /* Rounded corners for better aesthetics */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}

#loginLink {
    color: white;
    text-decoration: none;
}

#loginLink:hover {
    text-decoration: underline;
}

@media (max-width: 1200px) {
    .sign-up-container,
    .edit-container {
        
        min-width: 90%;
    }
}

@media (max-width: 900px) {

    h1 {
        font-size: 25px;
    }
    label {
        font-size: 20px;
        text-align: center;
    }
    .input-container {
        padding: 2px;
        margin-top: 0.5rem;
        height: 30px;

    
        i {
            padding: 1px;
            margin-right: 2px;
            margin-left: 1px;
            user-select: none;
            width: 20px;
            height: 20px;
        }
    }
    input[type="text"], input[type="tel"], input[type="password"] {
        font-size: 12px;
        padding: 2px;
    }
    input[type="password"] {
        font-size: 10.5px;
    }
    input[type="submit"] {
        font-size: 20px;
    }
}
