@font-face {
    font-family: UTSpoppins;
    src: url(Poppins-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.welcome-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
}

.background-overlay {
    width: 100%;
    height: 100%;
    background: #1E1E1E;
    border-radius: 10px;
}

.welcome-text {
    position: absolute;
    color: white;
    font-size: 4vw; /* Relative to viewport width */
    font-weight: 800;
    word-wrap: break-word;
    top: 15%; /* 15% from the top of the viewport */
    left: 50%; /* Centered horizontally */
    transform: translate(-50%, -50%);
}

.to-text {
    position: absolute;
    color: white;
    font-size: 4vw; /* Relative to viewport width */
    font-weight: 800;
    word-wrap: break-word;
    top: 25%; /* 25% from the top */
    left: 50%;
    transform: translate(-50%, -50%);
}

.project-title {
    position: absolute;
    color: white;
    font-size: 7vw; /* Relative to viewport width */
    font-weight: bold;
    word-wrap: break-word;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#upto {
    font-weight: bold;
    color:#5BC0F9;
}

#study {
    font-weight: bolder;
    color: #59D36E;
}

.left-panel {
    position: absolute;
    width: 15%; /* 15% of the viewport width */
    height: 100%;
    background: #6BE77F;
    box-shadow: 2vw -0.1vw 0.2vw rgba(73, 248, 101, 0.25);
}

.right-panel {
    position: absolute;
    width: 15%; /* 15% of the viewport width */
    height: 100%;
    right: 0;
    background: #5BC0F9;
    transform: rotate(180deg);
    box-shadow: -1.5vw 0.4vw 0.4vw rgba(129, 168, 245, 0.25);
}

.signup-box,
.login-box {
    width: 20%; /* Relative to viewport width */
    height: 10%; /* Relative to viewport height */
    position: absolute;
    display: flex;
    align-items: center; /* Vertically center the children */
    border-radius: 48px;
    justify-content: center;
}

.signup-box {
    top: 65%; /* Adjusted for responsiveness */
    left: 31%;
    background: #5BC0F9;
}

.signup-box:hover {
    transform: scale(1.1);
    background: #4DAEDD;
}

.login-box {
    top: 65%; /* Adjusted for responsiveness */
    left: 53%;
    background: #6BE77F;
}

.login-box:hover {
    transform: scale(1.1);
    background: #59D36E;
}


.signup-button,
.login-button {
    border: none;
    border-radius: 48px;
    width: 90%;
    height: 90%;
    color: black;
    font-size: 2.2vw; /* Responsive font size */
    font-weight: 800;
    z-index: 1000;
    cursor: pointer;
    background: inherit;
    margin-bottom: 2%;
    font-family: UTSpoppins;
}

.signup-button:hover,
.login-button:hover {
    color: white;
}



